@font-face{

font-family: 'Electron';
src: url('../fonts/Electron.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face{

font-family: 'OpenSans';
src: url('../fonts/opensans.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}


@font-face{

font-family: 'MyriadPro';
src: url('../fonts/MyriadProRegular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}



@font-face {
    font-family: 'Open Sans Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
       
        url('../fonts/Open Sans Bold.ttf') format('truetype');
}



@font-face {
    font-family: 'Open Sans Semibold';
      font-weight: 700;
    src: url('../fonts/Open Sans Semibold.ttf') format('truetype');
}


