@font-face{

font-family: 'Electron';
src: url('../fonts/Electron.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face{

font-family: 'OpenSans';
src: url('../fonts/opensans.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}


@font-face{

font-family: 'MyriadPro';
src: url('../fonts/MyriadProRegular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}



@font-face {
    font-family: 'Open Sans Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
        url(http://allfont.ru/cache/fonts/open-sans-bold_5231939d0cda13eb1fd5685f7264eb76.woff) format('woff'),
        url(http://allfont.ru/cache/fonts/open-sans-bold_5231939d0cda13eb1fd5685f7264eb76.ttf) format('truetype');
}



@font-face {
    font-family: 'Open Sans Semibold';
      font-weight: 700;
    src: url('../fonts/Open Sans Semibold.ttf') format('truetype');
}


