/********news    begin*******/
.news {
	display: flex;
	width: 100%
	background-color:#ffffff;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
}

.news__headerTitle {
	font-family: OpenSans;
	font-size: 22pt;
	text-transform: uppercase;
	color: #dd161d;
	margin-top: 78px;
	margin-left: 29.3%;
	letter-spacing: 4px;
	margin-bottom: 66px;
	font-weight: bold;
}

.news__headerTitle-Full {
   font-family: Open Sans Bold;
	font-size: 32pt;
	text-transform: uppercase;
	color: #dd161d;
	margin-top: 78px;
	margin-left: 29.3%;
	letter-spacing: 4px;
	margin-bottom: 66px;
	font-weight: bold;
}

.news__newsGrid {
	max-width: 1000px;
	align-self: flex-end;
	margin-right: 12%;
	display: flex;
	flex-wrap: wrap;
}

.news_newsGrid_newsblock_date {
	font-family: OpenSans;
	font-size: 8.4pt;
	color: #ffffff;
	background-color: #1a1a15;
	width: 97px;
	height: 28px;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: flex-end;
	position: absolute;
	top: 0;
	right: 47px;
}

.news_newsGrid_newsblock_title {
	font-family: OpenSans;
	font-size: 11pt;
	color: #ffffff;
	background-color: rgba(0,0,0,.5);
	position: absolute;
	left: 0;
	bottom: 23px;
	width: 72%;
	height: 104px;
	display: flex;
	align-items: center;
	padding-left: 45px;
	line-height: 25px;
	
}

.news_newsGrid_newsblock {
	margin-right: 1px;
	margin-bottom: 1px;
	background-color: #000000;
	width: 332px;
	height: 332px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	position: relative;
	transition: 0.5s;
	cursor: pointer;
}

.news_newsGrid_newsblock_noBg {
	margin-right: 1px;
	margin-bottom: 1px;
	background-color: #ffffff;
	width: 332px;
	height: 332px;
	display: flex;
	padding: 45px;
	box-sizing: border-box;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	position: relative;
	transition: all 0.5s;
}

.news_newsGrid_newsblock__noBg_title {
	font-family: OpenSans;
	color: #000000;
	line-height: 25px;
	width: 200px;
	font-size: 11pt;
	font-weight: 700;
	margin-bottom: 22px;
}

.news_newsGrid_newsblock__noBg_shortText {
	font-family: OpenSans;
	color: #a9a9a9;
	line-height: 24px;
	font-size: 10pt;
	font-weight: 400;
}

.news_newsGrid_newsblock_hover {
	position: absolute;
	top: 0;
	left: 0;
	width: 332px;
	height: 332px;
	padding: 45px;
	box-sizing: border-box;
	display: none;
	background-color: rgba( 	255,0, 0,.6);
	transition: all 0.6s;
	animation-duration: 0.5s;
}

.news_newsGrid_newsblock_date_hover {
	font-family: OpenSans;
	font-size: 8.4pt;
	color: #ffffff;
	background-color: #c81304;
	width: 97px;
	height: 28px;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: flex-end;
	position: absolute;
	top: 0px;
	right: 47px;
}

.news_newsGrid_newsblock__title__hover {
	font-family: OpenSans;
	color: #ffffff;
	line-height: 25px;
	width: 200px;
	font-size: 11pt;
	font-weight: 700;
	margin-bottom: 22px;
}

.news_newsGrid_newsblock__shortText__hover {
	font-family: OpenSans;
	color: #ffffff;
	line-height: 24px;
	width: 242px;
	font-size: 10pt;
	font-weight: 400;
}

.news_newsGrid_newsblock:hover .news_newsGrid_newsblock_hover {
	display: block;
	transition: all 0.5s;
}

.news_newsGrid_newsblock_noBg:hover .news_newsGrid_newsblock_hover {
	display: block;
	transition: all 0.5s;
}

.news__buttonMoreNews {
	display: flex;
	margin-top: 51px;
	margin-bottom: 2px;
}

.news__buttonMoreNews_redline {
	border-bottom: 1px solid #ff1300;
	max-width: 1127px;
	width: 70%;
}

.news__buttonMoreNews_button {
	font-family: OpenSans;
	font-size: 12pt;
	background-color: #ff1300;
	min-width: 190px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	color: #ffffff;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.5s;
	margin-top: 10px;
}

.news__buttonMoreNews_button:hover {
	font-family: OpenSans;
	font-size: 12pt;
	background-color: #4f4f4f;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	color: #ffffff;
	font-weight: bold;
	cursor: pointer;
	margin-top: 10px;
}


.news__navigationList{
	width: 100%;
	display: flex;
	height: 60px;
	
	margin-top: 86px;
	margin-bottom: 90px;
	justify-content: flex-center;
}

.news__navigationList__content{
	display: flex;
	flex-direction:row;
	border-bottom: 1px solid red;
	width: 61.5%;
	justify-content: flex-end;
	color:#dd161d;
	font-family: OpenSans;
	font-size: 22px;
	height: 35px;
}


.news__navigationList__content li{
	margin-left: 23px;
	cursor: pointer;
}

.news__navigationList-selected{
	color: #868686;
}


.showNews{
	display: flex;
	width: 100%;
	outline: 10px solid blue;
	flex-direction: column;
	justify-content: space-between;
align-items: stretch;
height: 872px;
}

.showNews__content{
	width: 1000px;

}

.showNews__content__breadCrumb{
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: 100%;
	height: 400px;

}

.showNews__content__breadCrumb__list{
	display: flex;
	flex-direction: row;
	color:#212121;
	font-family: OpenSans;
	font-size: 12px;

}
.showNews__content__breadCrumb__list a{
	color:#212121;
	transition: all 0.5s;

}

.showNews__content__breadCrumb__list a:hover{
	color:#ff1b0a;
	

}


.showNews__content__breadCrumb__list__element::after {
	content: '/';
	margin-left: 3px;
	margin-right: 3px;
}




@media (max-width: 1500px) {
	.news__buttonMoreNews_redline {
		border-bottom: 1px solid #ff1300;
		max-width: 1127px;
		width: 40%;
	}

	.news__newsGrid {
		max-width: 1000px;
		background-color: #ffffff;
		align-self: center;
		margin-right: 0%;
	}
}

@media  (max-width: 1292px) {

	.news__headerTitle {
		font-family: OpenSans;
		font-size: 22pt;
		text-transform: uppercase;
		color: #dd161d;
		margin-top: 78px;
		margin-left: 8%;
		letter-spacing: 4px;
		margin-bottom: 66px;
		font-weight: bold;
	}

	.news__headerTitle-Full {
		font-family: Open Sans Bold;
		font-size: 32pt;
		text-transform: uppercase;
		color: #dd161d;
		margin-top: 78px;
		margin-left: 13%;
		letter-spacing: 4px;
		margin-bottom: 66px;
		font-weight: bold;
	}
}

@media  (max-width: 1000px) {

	.news {
		display: flex;
		width: 1000px;
		background-color: #ffffff;
		flex-direction: column;
		justify-content: space-between;
		align-items: stretch;
	}
}

@media  (max-width:999px) {

	.news {
		display: flex;
		width: 100%;
		background-color: #ffffff;
		flex-direction: column;
		justify-content: space-between;
		align-items: stretch;
	}

	.news__newsGrid {
		max-width: 100%;
		background-color: #ffffff;
		align-self: center;
		margin-right: 0%;
		justify-content: center;
	}


.news__navigationList{
	width: 100%;
	display: flex;
	height: 60px;
	
	margin-top: 39px;
	margin-bottom: 26px;
	justify-content: flex-center;
}
}

@media  (max-width:430px) {

	.news {
		display: flex;
		width: 430px;
		background-color: #ffffff;
		flex-direction: column;
		justify-content: space-between;
		align-items: stretch;
		height: auto;
	}

	.news__newsGrid {
		max-width: 430px;
		justify-content: center;
		background-color: #ffffff;
		align-self: center;
		margin-right: 0%;
	}

	.news__headerTitle {
		font-family: OpenSans;
		font-size: 17pt;
		text-transform: uppercase;
		color: #dd161d;
		margin-top: 0;
		margin-left: 11%;
		letter-spacing: 4px;
		margin-bottom: 0;
		font-weight: 700;
		display: flex;
		min-height: 117px;
		justify-content: flex-start;
		align-items: center;
	}

	.news__headerTitle-Full {
		font-family: Open Sans Bold;
		font-size: 31pt;
		text-transform: uppercase;
		color: #dd161d;
		margin-top: 0;
		margin-left: 11%;
		letter-spacing: 4px;
		margin-bottom: 0;
		font-weight: 700;
		display: flex;
		min-height: 117px;
		justify-content: flex-start;
		align-items: center;
	}

	//.news_newsGrid_newsblock:nth-child(2), .news_newsGrid_newsblock:nth-child(3), .news_newsGrid_newsblock:nth-child(4), .news_newsGrid_newsblock:nth-child(5), .news_newsGrid_newsblock:nth-child(6), .news_newsGrid_newsblock:nth-child(7), .news_newsGrid_newsblock:nth-child(8), .news_newsGrid_newsblock:nth-child(9), .news_newsGrid_newsblock:nth-child(10), .news_newsGrid_newsblock:nth-child(11), .news_newsGrid_newsblock:nth-child(12), .news_newsGrid_newsblock:nth-child(13) {
		display: none;
	}

	.news__buttonMoreNews {
		display: flex;
		margin-top: 0px;
		margin-bottom: 2px;
		justify-content: flex-start;
	}

	.news__buttonMoreNews_redline {
		border-bottom: 1px solid #ff1300;
		max-width: 1127px;
		width: 22%;
	}
}


/********news    end*******/