@import url(reset.css);
@font-face{

font-family: 'Electron';
src: url('../fonts/Electron.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face{

font-family: 'OpenSans';
src: url('../fonts/opensans.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}


//.wrapper{
	min-width: 1257px;

}

a{
	text-decoration: none;
}




/********Navigation begin*******/
.navigationMenu__menuLine{
	display: flex;
	width: 100%;
	height: 105px;
	//opacity: 0.5;
	background-color:rgba(0,0,0,.35);
	//outline: 1px solid #000000;
	//background-image: url("../images/Firefox_wallpaper.png");
	position: absolute;

	justify-content: flex-end;
	align-items: center;
}


.navigationMenu__menuLine__centralPanel{
	min-width: 666px;
	height: 105px;
	//outline: 1px solid #000000;
	
	position: relative;
	background-color:rgba(0,0,0,.5);
	
	display: flex;
   justify-content: flex-start;
   align-items: center;
   margin-left: 47px;
}


.navigationMenu__menuLine__centralPanel__logo{
	min-width: 128px;
	height: 82px;
	background-image: url("../images/navigationMenu__menuLine__centralPanel__logo.png");
	
	float: left;
	margin-left: 47px;
	align-items: center;
}

.navigationMenu__menuLine__centralPanel__player{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-left: 44px;
}

.navigationMenu__menuLine__centralPanel__player__fmFrequency{
	min-width: 143px;
	height: 75px;
	
	float:left;
	position: relative;
	//margin-left: 34px;
	//margin-top: 21px;
}



.navigationMenu__menuLine__centralPanel__player__fmFrequency__digits {
	font-family: Electron;
	font-size: 60px;
	color:#ffffff;
	margin-top: 8px;
}


.navigationMenu__menuLine__centralPanel__player__fmFrequency__fm{
	font-family: Arial;
	font-size: 10px;
	color:#ffffff;
	font-weight: bold;
	float:left;
	left:30px;
	bottom:0px;
	position: absolute;
}



.navigationMenu__menuLine__centralPanel__player__fmFrequency__mhz{
	font-family: Arial;
	font-size: 10px;
	color:#ffffff;
	font-weight: bold;
	float:left;
	position: absolute;
	left:98px;
	bottom:0px;
}


.navigationMenu__menuLine__centralPanel__player__playButton{
	min-width: 24px;
	height: 25px;
	cursor: pointer;
	float:left;
	//margin-top: 38px;
	margin-left: 15px;
	background-image: url('../images/navigationMenu__menuLine__centralPanel__player__playButton.png');
	
}

.navigationMenu__menuLine__centralPanel__player__playButton:hover{
	width: 24px;
	height: 25px;
	cursor: pointer;
	float:left;
	//margin-top: 38px;
	margin-left: 15px;
	background-image: url('../images/navigationMenu__menuLine__centralPanel__player__playButton-hover.png');

}




.navigationMenu__menuLine__centralPanel__onAir_title{
	font-family: Arial;
	font-size: 12px;
	color:#ffffff;
	float:left;
	//margin-top: 45px;
	margin-left: 10px;
}


.navigationMenu__menuLine__centralPanel__onAir_songName{
	font-family: Arial;
	font-size: 12px;
	color:#ffffff;
	float:left;
	//margin-top: 45px;
	margin-left: 5px;
	max-width: 150px;
}



.navigationMenu__menuLine__menu{
	float: left;
	
	min-width: 420px;
	
	margin-left: 40px;
	position: relative;
	display: flex;
	align-items:  center;	

}


.navigationMenu__menuLine__menu__mainMenu__content{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	background-color: #ff0000;
	display: flex;
	flex-direction: row;
	width: calc(100% + 145px);
	min-height: 147px;
	z-index: 999;
	padding: 45px 40px;
	box-sizing: border-box;
}

.navigationMenu__menuLine__menu__mainMenu__content__list{
	box-sizing: border-box;
	display: flex;
	font-family: OpenSans;
	color:#ffffff;
	text-transform: uppercase;	
	font-size: 15px;
	flex-wrap: wrap;
	width: 70%;
	justify-content: flex-start;
	align-content:  flex-start;
	//flex-basis: 200px;
	//flex-flow: row wrap;
}

.navigationMenu__menuLine__menu__mainMenu__content__list li{
	padding: 0 0 10px 0;	
}

.navigationMenu__menuLine__menu__mainMenu__content__list li:not(:last-child)::after{
	content: '|';
	margin-left: 22px;
	margin-right: 22px;
	
}

.navigationMenu__menuLine__menu__mainMenu__button{
	width: 40px;
	height: 39px;
	transition: 0.3s;
	cursor: pointer;
	position: relative;
	float: left;
}


.navigationMenu__menuLine__menu__mainMenu__button:hover{
	background-color:rgba(196,42,37,.7);
	
	position: relative;

}


.navigationMenu__menuLine__menu__mainMenu__button img{
	
	position: absolute;
	top:9px;
	left: 7px;
	

}


.navigationMenu__menuLine__menu__rightMenu{
	font-family: OpenSans;
	color:#ffffff;
	
	text-transform: uppercase;
	
	font-size: 15px;
}


.navigationMenu__menuLine__menu__rightMenu li{
	
	float: left;
}






.navigationMenu__menuLine__menu__rightMenu li:not(:first-child)::before{
	content: '|';
	margin-left: 22px;
	margin-right: 22px;
	
}





.navigationMenu__menuLine__menu__rightMenu li a{
	color:#ffffff;
	text-decoration: none;
	cursor: pointer;
	transition: 0.3s;
	font-weight: bold;
}

.navigationMenu__menuLine__menu__rightMenu li a:hover{
	color: #e61516;
	
}



.navigationMenu__menuLine__socialNetworks{
	float:right;
//	margin-top: 42px;
	width: 13.5%;
	max-width: 25%;
}

.navigationMenu__menuLine__socialNetworks:last-child{
	margin-right: 26px;
}



.navigationMenu__menuLine__socialNetworks li{
	margin-left: 15px;
}





.navigationMenu__menuLine__socialNetworks__59play224{
	float:right;
	width: 19px;
	height: 17px;
	background-image: url(../images/triangle_logo.png);
	background-repeat: no-repeat;
}


.navigationMenu__menuLine__socialNetworks__vk{
	float:right;
	width: 33px;
	height: 19px;
	background-image: url(../images/vk_logo.png);

	
}


.navigationMenu__menuLine__centralPanel__playList{
	width: 100%;
	height: 40px;
	

	position: absolute;
	top: 107px;
	left:0px;
	background-color:rgba( 	255,0, 0,.6);
	display: flex;
	justify-content: center;
	align-items: center;
}


.navigationMenu__menuLine__centralPanel__playList__title{
	color:#ffffff;
	font-family: OpenSans;
	//margin-left: 225px;
	//margin-top: 11px;
	text-decoration: none;
}






@media (max-width: 1375px) {

.navigationMenu__menuLine{
	display: flex;
	width: 100%;
	height: 105px;
	//opacity: 0.5;
	background-color:rgba(0,0,0,.35);
	//outline: 1px solid #000000;
	//background-image: url("../images/Firefox_wallpaper.png");
	position: absolute;

	justify-content: flex-start;
	align-items: center;
}



.navigationMenu__menuLine__socialNetworks{
	float:right;
//	margin-top: 42px;
	min-width: 90px;
	
}
}


@media  (max-width: 1375px) {

.navigationMenu__menuLine{
	display: flex;
	width: 100%;
	height: 105px;
	//opacity: 0.5;
	background-color:rgba(0,0,0,.35);
	//outline: 1px solid #000000;
	//background-image: url("../images/Firefox_wallpaper.png");
	position: absolute;

	justify-content: flex-start;
	align-items: center;
}



.navigationMenu__menuLine__socialNetworks{
	float:right;
//	margin-top: 42px;
	min-width: 90px;
	
}



}




@media  (max-width: 1292px) {

.navigationMenu__menuLine{
	display: flex;
	width: 100%;
	height: 105px;
	//opacity: 0.5;
	background-color:rgba(0,0,0,.35);
	//outline: 1px solid #000000;
	//background-image: url("../images/Firefox_wallpaper.png");
	position: absolute;

	justify-content: flex-start;
	align-items: center;
}



.navigationMenu__menuLine__socialNetworks{
	float:right;
//	margin-top: 42px;
	min-width: 90px;
	
}


.navigationMenu__menuLine__centralPanel{
	min-width:  433px;
	height: 105px;
	//outline: 1px solid #000000;
	margin-left: 47px;
	position: relative;
	background-color:rgba(0,0,0,.5);
	display: flex;
   justify-content: flex-start;
   align-items: center;
   margin-left: 47px;
   
  
}


}



/********Navigation end*******/




/********slider begin*******/
.photoSlider__background{
	
	background: url("../images/madonna.png") no-repeat center top;
	width: 100%;
	
	
	height: 818px;
	 -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

/********slider end*******/


/********contest begin*******/
.contests{
	width: 100%;
	//height: 435px;
	//background-color: #fa5311;
	display: flex;
	position: relative;
}


.contests__image-left{
	flex:1.14;
	//background-color: #44fa05;
	background: url(../images/constests__image.png) no-repeat center top;
	
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
     //height: 435px;
}



.contests__info-right{
	flex:1;
	background-color: #f6f6f6;
	display: flex;
	flex-direction:column;
	justify-content: space-between;
	align-items: stretch;
}


.contests__info__title{
	font-family: OpenSans;
	font-size: 19pt;
	text-transform: uppercase;
	color:#dd161d;
	margin-top: 78px;
	margin-left: 11%;
	font-weight: bold;
}

.contests__info__text{
	font-family: OpenSans;
	font-size: 12pt;
	color:#323232;
	line-height: 29px;
	max-width: 538px;
	align-self:center;
	margin-left:25px;
	margin-right: 25px;
	margin-top: 53px;
	margin-bottom: 53px;
}

.contests__info__buttonShowMore{
	font-family: OpenSans;
	font-size: 12pt;
	background-color:#ff1300;
	width: 190px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	color: #ffffff;
	font-weight: bold;
	cursor: pointer;
	margin-left: 11%;
	margin-top: 10px;
}

.contests__headerTitle{
	position: absolute;
	min-width: 616px;
	height: 79px;
	color:#ffffff;
	font-family: OpenSans;
	font-size: 22pt;
	text-transform: uppercase;
	background-color:rgba( 	255,0, 0,.6);
	display: flex;
	justify-content: center;
	align-items: center;
	top:-59px;
	margin-left: 26.5%;
	padding-right: 40px;
	letter-spacing: 4px;
	font-weight: bold;

}
/********contest end*******/


/********news    begin*******/
.news{
	display: flex;
	width: 100%
	background-color:#ffffff;
	//height: 500px;
	flex-direction:column;
	justify-content: space-between;
	align-items: stretch;

}


.news__headerTitle{
	font-family: OpenSans;
	font-size: 22pt;
	text-transform: uppercase;
	color:#dd161d;
	margin-top: 78px;
	margin-left: 29.3%;
	letter-spacing: 4px;
	margin-bottom: 66px;
	font-weight: bold;
}

.news__newsGrid{
	width: 1001px;
	height: 667px;
	//background-color: #075577;
	align-self:flex-end;
	margin-right: 12%;
	display: flex;
	flex-wrap: wrap;

}

.news_newsGrid_newsblock_date{
	font-family: OpenSans;
	font-size: 8.4pt;
	color:#ffffff;
	background-color: #1a1a15;
	width: 97px;
	height: 28px;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: flex-end;
	margin-right:47px; 

}


.news_newsGrid_newsblock_title{
	font-family: OpenSans;
	font-size: 11pt;
	color:#ffffff;
	background-color:rgba(0,0,0,.5);
	
	width: 72%;
	height: 104px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 25px;
	padding-left: 45px;
	 //padding-right: 30px;
	 line-height: 25px;
	 //font-weight: bold;
	 //letter-spacing: 1px;
}
.news_newsGrid_newsblock1{
	margin:1px;
	background-color: #000000;
	flex:1;
	flex-basis: 330px;
	display: flex;
	background:url("../images/news_newsGrid_newsblock1.png") no-repeat center top;
	flex-direction:column;
	justify-content: space-between;
	align-items: stretch;
}

.news_newsGrid_newsblock2{
	margin:1px;
	background-color: #000000;
	flex:1;
	flex-basis: 330px;
	display: flex;
	background:url("../images/news_newsGrid_newsblock2.png") no-repeat center top;
	flex-direction:column;
	justify-content: space-between;
	align-items: stretch;
}

.news_newsGrid_newsblock3{
	margin:1px;
	background-color: #000000;
	flex:1;
	flex-basis: 330px;
	display: flex;
	background:url("../images/news_newsGrid_newsblock3.png") no-repeat center top;
	flex-direction:column;
	justify-content: space-between;
	align-items: stretch;
}

.news_newsGrid_newsblock4{
	margin:1px;
	background-color: #000000;
	flex:1;
	flex-basis: 330px;
	display: flex;
	background:url("../images/news_newsGrid_newsblock4.png") no-repeat center top;
	flex-direction:column;
	justify-content: space-between;
	align-items: stretch;
}

.news_newsGrid_newsblock5{
	margin:1px;
	background-color: #000000;
	flex:1;
	flex-basis: 330px;
	display: flex;
	background:url("../images/news_newsGrid_newsblock5.png") no-repeat center top;
	flex-direction:column;
	justify-content: space-between;
	align-items: stretch;
}

.news_newsGrid_newsblock6{
	margin:1px;
	background-color: #000000;
	flex:1;
	flex-basis: 330px;
	display: flex;
	background:url("../images/news_newsGrid_newsblock6.png") no-repeat center top;
	flex-direction:column;
	justify-content: space-between;
	align-items: stretch;
}

.news__buttonMoreNews{
	display: flex;
	margin-top: 51px;
	margin-bottom: 2px;
}


.news__buttonMoreNews_redline{
	border-bottom: 1px solid #ff1300;
	max-width: 1127px;
	width: 70%;
	
}



.news__buttonMoreNews_button{
	font-family: OpenSans;
	font-size: 12pt;
	background-color:#ff1300;
	min-width: 190px;
	display:flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	color: #ffffff;
	font-weight: bold;
	cursor: pointer;
	
	margin-top: 10px;
}

@media (max-width: 1500px){
	.news__buttonMoreNews_redline{
	border-bottom: 1px solid #ff1300;
	max-width: 1127px;
	width: 40%;



	
}

.news__newsGrid{
	width: 1001px;
	height: 667px;
	background-color: #075577;
	align-self:center;
	margin-right: 0%;

}
}
/********news    end*******/


/********adv    begin*******/
.adv{
	width: 100%;
	height: 788px;
	background: url("../images/adv_bg.png") no-repeat;
	 -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
	display: flex;
	flex-direction:column;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: nowrap;
}
.adv__headerTitle{
	font-family: OpenSans;
	font-size: 43pt;
	letter-spacing: 3px;
	color:#ffffff;
	margin-top: 86px; 
	text-transform: uppercase;
	margin-left: 29.3% ;
	font-weight: bold;
	width:  500px;
}
.adv__buttonDwPrice{
	display: flex;
	margin-top: 51px;
	margin-bottom: 2px;
}


.adv__buttonDwPrice__redline{
	border-bottom: 1px solid #ff1300;
	max-width: 1127px;
	width: 70%;
}


.adv__buttonDwPrice_button{
	font-family: OpenSans;
	font-size: 12pt;
	background-color:#ff1300;
	min-width: 190px;
	display:flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	color: #ffffff;
	font-weight: bold;
	cursor: pointer;
	
	margin-top: 10px;
}

@media (max-width: 1500px){
	.adv__buttonDwPrice__redline{
	border-bottom: 1px solid #ff1300;
	max-width: 1127px;
	width: 40%;



	
}



}

/********adv    end*******/


/********contacts begin*******/
.contacts{
	display: flex;
	width: 100%;
	height: 940px;
	background-color: #ffffff;

	flex-direction:column;
	justify-content: space-between;
	align-items: stretch;
}

.contacts__headerTitle{
	//font-family: OpenSans;
	//font-size: 23pt;
	//text-transform: uppercase;
	//color:#dd161d;
	margin-top: 52px;
	margin-left: 29.3%;
	//letter-spacing: 4px;
	//margin-bottom: 66px;
	position: relative;
	width: 355px;
}

.contacts__headerTitle>p{
	font-family: OpenSans;
	font-size: 23pt;
	text-transform: uppercase;
	color:#dd161d;
	letter-spacing: 4px;
}
.contacts__headerTitle_info{
	position: absolute;
	top:125px;
	width: 333px;
	height: 535px;
	//background-color: #000000;
	z-index: 999;
}

.contacts__headerTitle_info_text{
	padding-left:45px;
	padding-top: 31px;
	padding-bottom: 45px;
	padding-right: 10px;
	background-color:rgba( 	255,0, 0,.8);
}

.contacts__headerTitle_info_text_title{
	font-family: OpenSans;
	font-size: 12pt;
	line-height: 29px;
	color:#ffffff;
}

.contacts__headerTitle_info_text_title_adv{
	font-family: OpenSans;
	font-size: 13.2pt;
	text-transform: uppercase;
	line-height: 29px;
	color:#ffffff;
	letter-spacing: 1px;
	font-weight: bold;
}

.contacts__headerTitle_info_text_whois{

	font-family: OpenSans;
	font-size: 10.1pt;
	line-height: 24px;
	color:#ffffff;
}

.contacts__headerTitle_info_owners{
	background-color: #ffffff;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 138px;
}
.contacts__headerTitle_info_owners img{
	margin-left:50px; 
}


#contacts__googleMap {
	width: 100%;
	height: 803px;
//	 -webkit-filter: grayscale(100%);
 // -moz-filter: grayscale(100%);
 // -ms-filter: grayscale(100%);
  //-o-filter: grayscale(100%);
 // filter: grayscale(100%);
 // filter: gray; /* IE 6-9 */
}



/********contacts end*******/

/********footer    begin*******/

footer{
	width: 100%;
	height: 95px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color:#ffffff;
}


.flexitesLogo{
	width: 172px;
	height: 53px;
	background: url(../images/flexsitesLogo.png) no-repeat center top;
	margin-right:44px;
}
/********footer    end*******/