@import url(reset.css);
@import url(menuAnimation.css);
@import url(animations.css);
@import url(fonts.css);
@import url(foxhover.css);
@import url(navigationMenu.css);
@import url(contests.css);
@import url(news.css);
@import url(adv.css);
@import url(contacts.css);
@import url(footer.css);





body{
	overflow: auto;
}



/********slider begin*******/
.photoSlider__background{
	
	background: url("../images/madonna.png") no-repeat center top;
	width: 100%;
	
	
	height: 818px;
	 -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

/********slider end*******/










